@model RelationSample.ViewModels.EditAddressViewModel
<fieldset>
  <legend>Address</legend>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.Address, T("Street Address"))
  </div>
  <div class="editor-field">
    @Html.TextAreaFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)
  </div>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.City, T("City"))
  </div>
  <div class="editor-field">
    @Html.TextBoxFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
  </div>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.StateCode, T("State"))
  </div>
  <div class="editor-field">
    @Html.DropDownListFor(model => model.StateCode,
                      Model.States.Select(s => new SelectListItem {
                          Selected = s.Code == Model.StateCode,
                          Text = s.Code + " " + s.Name,
                          Value = s.Code
                      }),
                      "Choose a state...")
    @Html.ValidationMessageFor(model => model.StateCode)
  </div>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.Zip, T("Zip"))
  </div>
  <div class="editor-field">
    @Html.TextBoxFor(model => model.Zip)
    @Html.ValidationMessageFor(model => model.Zip)
  </div>
</fieldset>